*{
    box-sizing: border-box;
}

.conteiner1 {
    width: 500px;
     height: 185px;
    color: black;
    padding-left: 10px;
 margin-left: 600px;
  
}

.conteiner2 {
    width: 670px;
    height: 166px;
    padding-left: 15px;

 }
 .conteiner3 {
    width: 670px;
    height: 166px;
    padding-left: 15px;

  margin-left: 750px;
 }
 .conteiner4 {
    width: 1200px;
    height: 100px;
    padding-left: 20px;
  
  
 }